<header class="head">
	<div class="headTitle">Cool Mama's Bakery</div>		
	<form class="formLink" action="/bakery" method="GET">
		<a id="bakery" class="link" href="/bakery">Bakery Items</a>
	</form>		
	<form class="formLink" action="/lunch" method="GET">
		<a id="lunch" class="link" href="/lunch">Lunch Menu</a>
	</form>			
	<form class="formLink" action="/login" method="GET">
		<a id="login" class="link" href="/login">Login</a>
	</form>			
</header>

