<header class="head">
	<div class="headTitle">Cool Mama's Bakery</div>
	<form class="formLink" action="/" method="GET">
		<a id="home" class="link" href="/">Home</a>
	</form>			
	<form class="formLink" action="/bakery" method="GET">
		<a id="bakery" class="link" href="/bakery">Bakery Items</a>
	</form>		
	<form class="formLink" action="/lunch" method="GET">
		<a id="lunch" class="link" href="/lunch">Lunch Menu</a>
	</form>				
</header>

