<!doctype html>
<html>
<head>
	<title>Cool Mama's Eatery</title>

	<meta charset="utf-8">

	<link rel="icon" href="../../public/assets/image/pie-favicon.ico" type="image/ico"/>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/cMama-style.css">
	
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	
	<style>

	li {border-style: solid;}
	
	ul {list-style: none; padding-left: 0px;}
	
	</style>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="menuTitle">Choose from these hand made sandwiches with the finest ingredients.</div>
		</div>
		<div class="row">
			<div class="col-10">
				<ul>
					<li>
						<div class="row">
							<div class="col-3">
								<img class="img-left" src="sandwich-blt.png" style="height:auto; width:100%;"/>
							</div>
							<div class="col-7">					
								<div class="sandwich">
									<p class="sandwichName">Bacon, Lettuce & Tomato</p>
									<p class="sandwichDescribe">Here is a classic sandwich.  Cool ripe tomato's lattered up between two whole wheat slices of bread.</p>
									<p>What a summertime treat all year!</p>
								</div>
							</div>
							<div class="col-2">
								<div class="cost">$6.49</div>
								<div class="qty">Quantity</div>
								<form>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="QTY">
									</div>
								</form>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="col-3">
								<img class="img-left" src="sandwich-pbb.png" style="height:auto; width:100%;"/>
							</div>
							<div class="col-7">					
								<div class="sandwich">
									<p class="sandwichName">Banana and Peanut Butter</p>
									<p class="sandwichDescribe">So you are feeling a little like Elvis.  This sandwich will definitely rock and roll.</p>
									<p>Stick to the roof of your mouth good!</p>
								</div>
							</div>
							<div class="col-2">
								<div class="cost">$4.29</div>							
								<div class="qty">Quantity</div>
								<form>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="QTY">
									</div>
								</form>
							</div>
						</div>					
					</li>				
				</ul>
			</div>		
			<div class="col-2">
				<ul>
					<li>
						<img class="img-left" src="side-laysPC.png" style="height:auto; width:60%;"/>
						<div class="sideName">Potato Chips</div>
						<div class="cost">$1.19</div>
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="QTY">
							</div>
						</form>
					</li>
					<li>
						<img class="img-left" src="drink-soda.png" style="height:auto; width:60%;"/>
						<div class="drinkName">Diet Coke</div>
						<div class="cost">$1.89</div>
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="QTY">
							</div>
						</form>
					</li>					
				</ul>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- My JavaScript -->
	<script src="assets/javascript/cMama-javascript.js"></script>	

</body>
</html>