<!doctype html>
<html>
<head>
	<title>Cool Mama's Eatery</title>

	<meta charset="utf-8">

	<link rel="icon" href="../../public/assets/image/pie-favicon.ico" type="image/ico"/>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/cMama-style.css">
	
	<style>
		body {background-color: #DEB887;}
		
		.login {font-size: 24px; font-weight: bold; margin-top: 40px;}
		
		.logIn {text-decoration: underline; margin-top: 20px; margin-bottom: 20px;}
		
		.btn {margin-bottom: 20px;}
		
	</style>
	
</head>
<body>
	<div class="container login">
		<div class="logIn">LOG IN</div>
		<form>
		  <div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		   <button type="submit" class="btn btn-primary">Log In</button>
		</form>
		<div class="alert alert-success" role="alert">
			<img src="../../public/assets/image/good.png" alt="The Good" width="60px" height="60px">
			<strong>You are in!<br>Hope your hungry.</strong>
		</div>
		<div class="alert alert-danger" role="alert">
			<img src="../../public/assets/image/bad.png" alt="The Bad" width="60px" height="60px">
			<strong>Oh snap!<br>Something went wrong.  Please try again.</strong>
		</div>
	</div>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- My JavaScript -->
	<script src="assets/javascript/cMama-javascript.js"></script>
<!--	
	<script>
	
	$(".alert-success").hide();
	$(".alert-danger").hide();

	</script>
-->
</body>
</html>