<!doctype html>
<html>
<head>
	<title>Cool Mama's Eatery</title>

	<meta charset="utf-8">

	<link rel="icon" href="../../public/image/pie-favicon.ico" type="image/ico"/>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="/css/cMama-style.css">
	
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	
	<style>

	.head {padding: 50px 0 10px 0; background-image: url("../../public/image/bakeryBanner.png"); background-repeat: no-repeat; background-size: cover;}
	
	.headTitle {font-family: 'Courgette', cursive; font-size: 80px; color: yellow; padding-left: 30px;}
	
	ul {list-style-type: none; margin-top: 80px; margin-left: 60px;}
	
	li {display: inline; font-size: 26px; margin-right: 40px;}
	
	li a {color: yellow;}
	
	li a:hover {color: red;}
	
	</style>
	
</head>
<body>
	<header class="head">
		<div class="headTitle">Cool Mama's Bakery</div>
		<ul class="listLink">
			<li class="item1">
				<a class="link1" href="#">Bakery Items</a>
			</li>
			<li class="item2">	
				<a class="link2" href="#">Lunch Menu</a>
			</li>
			<li class="item3">
				<a class="link3" href="#">Login</a>
			</li>
		</ul>
	</header>

<div class="container-fluid">
	<div class="row">
		<div class="receiptTitle">Here is a itemized reciept of your selections so far.</div>
	</div>
	<div class="row">	
		<div class="col-1"></div>
		<div class="col-2">Quantity</div>
		<div class="col-5">Description</div>
		<div class="col-3">Price</div>
		<div class="col-1"></div>
	</div>
	<div class="row">
		<form action="/receiptData" method="GET">
			{{#each receipt}}
				<ul>
					<li>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-2">
								<p class="itemQuantity">{{quantity}}</p>
							</div>
							<div class="col-5">					
								<p class="itemDescription">{{name}}</p>
							</div>
							<div class="col-3">
								<p class="itemPrice">${{price}}</p>
							</div>
							<div class="col-1"></div>
						</div>
					</li>
				</ul>
			{{/each}}
		<div class="row">
			<div class="col-1"></div>
			<div class="col-2"></div>
			<div class="col-5">
				<p class="taxDescription">Sales Tax</p>
			</div>
			<div class="col-3">
				<p class="salesTax">${{tax}}</p>
			<div class="col-1"></div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-2"></div>
			<div class="col-5">
				<p class="totalAmount">Total Amount:</p>
			</div>
			<div class="col-3">
				<p class="total">${{total}}</p>
			<div class="col-1"></div>
		</div>						
			<button type="submit" class="btn btn-primary">Go to cart</button>								
		</form>
	</div>
</div>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- My JavaScript -->
	<script src="/javascript/cMama-javascript.js"></script>	

</body>
</html>