<!doctype html>
<html>
<head>
	<title>Cool Mama's Eatery</title>

	<meta charset="utf-8">

	<link rel="icon" href="pie-favicon.ico" type="image/ico"/>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="sizing-style.css">
</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-5">
			<div class="row row-radio">
				<div class="form-inline">
					<label class="selectUnits">Units</label>
					<label class="form-check-label">
						<input type="radio" name="unitSelector" id="radioMetric" value="metric" checked="checked">Metric
					</label>
					<label class="form-check-label">
						<input type="radio" name="unitSelector" id="radioUS" value="us">US
					</label>
					</label>
				</div>
			</div>
			<hr/>
			<form>
				<div class="form-group row row-label">
					<label class="partSize">Part Size</label>
				</div>
				<div class="form-group row">				
					<label for="sizeX" class="col-form-label">X =</label>
					<div class="col-3">
						<input type="number" class="form-control" id="sizeX" placeholder="mm">
					</div>		
					<label for="sizeY" class="col-form-label">Y =</label>
					<div class="col-3">
						<input type="number" class="form-control" id="sizeY" placeholder="mm">
					</div>	
					<label for="sizeZ" class="col-form-label">Z =</label>
					<div class="col-3">
						<input type="number" class="form-control" id="sizeZ" placeholder="mm">
					</div>
				</div>
				<hr/>
				<div class="form-group row row-label">
					<label class="gravityCenter">Distance from Mounting Point to Center of Gravity</label>
				</div>
				<div class="form-group row">				
					<label for="gravityX" class="col-form-label">X =</label>
					<div class="col-3">
						<input type="number" class="form-control" id="gravityX" placeholder="mm">
					</div>		
					<label for="gravityY" class="col-form-label">Y =</label>
					<div class="col-3">
						<input type="number" class="form-control" id="gravityY" placeholder="mm">
					</div>	
					<label for="gravityZ" class="col-form-label">Z =</label>
					<div class="col-3">
						<input type="number" class="form-control" id="gravityZ" placeholder="mm">
					</div>
				</div>
				<hr/>
				<div class="form-group row">				
					<label for="partMass" class="col-form-label">Part Mass =</label>
					<div class="col-3">
						<input type="number" class="form-control" id="partMass" placeholder="kg">
					</div>
				</div>
				<hr/>
				<div class="form-group row">				
					<label for="robotreach" class="col-form-label">Robot Reach =</label>
					<div class="col-3">
						<input type="number" class="form-control" id="robotReach" placeholder="mm">
					</div>
				</div>
				<hr/>
				<div class="form-group row">
					<button type="submit" class="btn btn-success">Size Robot</button>
				</div>
			</form>
			<img src="question.png" alt="Is it OK?" id="imgOne" style="height:100px; width:100px;"/>
		</div>
		<div class="col-7">
			<img src="box-assy.png" alt="The box goes here?" id="visualApp" style="height:100%; width:100%;"/>
		</div>
	</div>
</div>


	<!-- My JavaScript -->
	<script src="sizing-javascript.js"></script>	

</body>
</html>