
<!doctype html>
<html>
<head>
	<title>Cool Mama's Eatery</title>

	<meta charset="utf-8">
	<!-- favicon -->
	<link rel="icon" href="/image/pie-favicon.ico" type="image/ico"/>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- My CSS Style Sheet -->
	<link rel="stylesheet" type="text/css" href="/css/cMama-HomeHead-style.css">
	<link rel="stylesheet" type="text/css" href="/css/cMama-ReceiptLogin-style.css">
	<link rel="stylesheet" type="text/css" href="/css/cMama-Selections-style.css">
	<!-- Fonts used -->
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

</head>

<body>

	{{{body}}}

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Key to Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUhuc431AChFbfphSEFZ75FAwcdPIVPTU&callback=initMap" async defer></script>

	<script src="/javascript/cMama-javascript.js"></script>

</body>
</html>