<!doctype html>
<html>
<head>
	<title>Cool Mama's Eatery</title>

	<meta charset="utf-8">

	<link rel="icon" href="../../public/image/pie-favicon.ico" type="image/ico"/>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- My CSS -->
<!--	<link rel="stylesheet" type="text/css" href="/css/cMama-style.css">  -->
	
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	
	<style>

	.head {padding: 50px 0 10px 0; background-image: url("../../public/image/bakeryBanner.png"); background-repeat: no-repeat; background-size: cover;}
	
	.headTitle {font-family: 'Courgette', cursive; font-size: 80px; color: yellow; padding-left: 30px;}
	
	ul {list-style-type: none; margin-top: 80px; margin-left: 60px;}
	
	li {display: inline; font-size: 26px; margin-right: 40px;}
	
	li a {color: yellow;}
	
	li a:hover {color: red;}
	
	.container-fluid {background-color: #DEB887;}
	
	</style>
	
</head>
<body>
	<header class="head">
		<div class="headTitle">Cool Mama's Bakery</div>
		<ul class="listLink">
			<li class="item1">
				<a class="link1" href="#">Bakery Items</a>
			</li>
			<li class="item2">	
				<a class="link2" href="#">Lunch Menu</a>
			</li>
			<li class="item3">
				<a class="link3" href="#">Login</a>
			</li>
		</ul>
	</header>

	<div class="container-fluid">
		<div class="row">	
			<div class="col-8">
				<img class="oldTime" src="oldTime-wide.png" alt="First Picture" style="height:auto; width:100%;"/>
				<p>We make our items like they did years ago.  One at a time.  Not like the mass production of today.</p>	
				<img class="conveyor" src="industrial_multipleLines.png" alt="Second Picture" style="height:auto; width:100%;"/>
				<p>Feel like home when you walk in.  So welcome to our home!</p>
				<img class="conveyor" src="coolMamasPlace.png" alt="Third Picture" style="height:auto; width:100%;"/>
			</div>
			<div class="col-4">
				<div class="where">
					<p class="location">Come see us at:</p>
				</div>
				<div id="map" style="width:100%; height:300px;"></div>
				<div class="address">
					<p class="location">6439 Highway 9 South<br>Columbus, SC 28722<br>(828) 894-9461</p>
				</div>
				<div class="where">
					<p class="location">Hours: 7AM to 2PM Tuesday through Saturday.<br>Closed Sunday and Monday.</p>
				</div>
				<div class="where">
					<p class="location">Check out our bakery goods and come back for our lunch sandwiches.<br>Always hand made!</p>
				</div>	
			</div>	
		</div>
	</div>
	
	
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<!-- Key to Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUhuc431AChFbfphSEFZ75FAwcdPIVPTU&callback=initMap" async defer>
	</script>
	
	<!-- My JavaScript -->
	<script src="/javascript/cMama-javascript.js"></script>	

</body>
</html>