<div class="container">
	<div class="row">
		<div class="col-md-5 col-xs-12">
			<form id="retrieveData" action="/retrieveData" method="POST">
				<div class="form-group row">
					<div class="form-check form-check-inline">
						<label class="selectUnits">Units</label>
  						<label class="form-check-label">
    						<input class="form-check-input" type="radio" name="unitSelector" id="radioMetric" value="metric" checked="checked">Metric
  						</label>
					</div>
					<div class="form-check form-check-inline">
  						<label class="form-check-label">
    						<input class="form-check-input" type="radio" name="unitSelector" id="radioUS" value="us">US
  						</label>
					</div>
				</div>
				<hr/>
				<div class="form-group row">				
					<label for="robotreach" class="col-form-label">Robot Reach =</label>
					<div class="col-3">
						<input type="text" class="form-control" id="robotReach" name="robotReach" placeholder="mm">
					</div>
				</div>
				<hr/>
				<div class="form-group row">				
					<label for="partMass" class="col-form-label">Part Mass =</label>
					<div class="col-3">
						<input type="text" class="form-control" id="partMass" name="partMass" placeholder="kg">
					</div>
				</div>
				<hr/>
				<div class="form-group row row-label">
					<label class="partSize">Part Size</label>
				</div>
				<div class="form-group row">				
					<label for="sizeX" class="col-form-label">X =</label>
					<div class="col-3">
						<input type="text" class="form-control" id="sizeX" name="sizeX" placeholder="mm">
					</div>		
					<label for="sizeY" class="col-form-label">Y =</label>
					<div class="col-3">
						<input type="text" class="form-control" id="sizeY" name="sizeY" placeholder="mm">
					</div>	
					<label for="sizeZ" class="col-form-label">Z =</label>
					<div class="col-3">
						<input type="text" class="form-control" id="sizeZ" name="sizeZ" placeholder="mm">
					</div>
				</div>
				<hr/>
				<div class="form-group row row-label">
					<label class="gravityCenter">Distance from Mounting Point to Center of Gravity</label>
				</div>
				<div class="form-group row">				
					<label for="gravityX" class="col-form-label">X =</label>
					<div class="col-3">
						<input type="text" class="form-control" id="gravityX" name="gravityX" placeholder="mm">
					</div>		
					<label for="gravityY" class="col-form-label">Y =</label>
					<div class="col-3">
						<input type="text" class="form-control" id="gravityY" name="gravityY"placeholder="mm">
					</div>	
					<label for="gravityZ" class="col-form-label">Z =</label>
					<div class="col-3">
						<input type="text" class="form-control" id="gravityZ" name="gravityZ"placeholder="mm">
					</div>
				</div>
				<hr/>
				<div class="form-group row">
					<button type="submit" class="btn btn-success" id="sizeMe">Size Robot</button>
				</div>
			</form>
		</div>
		<div class="col-md-7 col-xs-12">
			<img src="assets/image/box-assy.png" alt="The box goes here?" id="visualApp" style="height:100%; width:100%;"/>
		</div>
	</div>
</div>

<footer>
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" id="navContact" href="/contact">Contact</a>		
	</nav>
</footer>