
{{>header-login}}

<div class="login">
	<div class="loginTitle">LOG IN</div>
	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="How about a Password">
		 </div>
		 <button type="submit" class="btn btn-primary">Log In</button>
		 <button type="submit" class="btn btn-primary">Reset</button>		 
	</form>
	<div class="alert alert-success" role="alert">
		<img src="assets/image/good.png" alt="The Good" width="60px" height="60px">
		<strong>You are in!<br>Hope your hungry.</strong>
	</div>
	<div class="alert alert-danger" role="alert">
		<img src="assets/image/bad.png" alt="The Bad" width="60px" height="60px">
		<strong>Oh snap!<br>Something went wrong.  Please reset and try again.</strong>
	</div>
</div>


