
/* Home */
.home {
	background-color: #DEB887;
}

.home p {
	font-size: 16px;
	text-align: center;
	color: brown;
	margin-bottom: 2px;
}

#map { 
   border: 6px solid brown;
}

/* Header */
.head {
	padding: 50px 0 10px 0;
	background-image: url("../../image/bakeryBanner.png");
	background-repeat: no-repeat;
	background-size: cover;
}
	
.headTitle {
	font-family: 'Courgette', cursive;
	font-size: 80px;
	color: yellow;
	padding-left: 30px;
}

.formLink {
	display: inline-block;
	margin-top: 70px;
	margin-left: 40px;
}
	
.link {
	font-size: 26px;
	color: yellow;
}
	
.link:hover {
	color: red;
}

